@import './elements.scss';
$darkCorol: #80BCBD;
$logoColor: #0a0d63;
$darkBlue: #80BCBD;
$liteBlue: #AAD9BB;
// $green: #D5F0C1;
// $yellow: #F9F7C9;
$darkBlue: #B6E388;
$green: #B6E388;
$greenOpa: #b5e38868;
$yellow: #fff;
$textColor: #121264;
body {
    margin: 0;
    padding: 0;
    background-color: $yellow;
    font-family: 'Inter';
    color: $textColor;
}
*{
    margin: 0;
    padding: 0;
}

.App {

}

.Header {
    .menu {
        width: 100%;
        height: 100px;
        background-color: #fff;
        .header-content {
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            height: 100%;
        }
        .header__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .logo__wrap {
                display: flex;
                align-items: center;
                height: 100%;
                gap: 24px;
                p {
                    font-size: 24px;
                    font-weight: bold;
                    color: $logoColor;
                }
            }
            .items__wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 4.16em;
                .social__wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1.04em;
                    & > a > img {
                        width: 100%;
                        max-height: 1.45em;
                    }
                }
                .phone__wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: .25em;
                    & > img {
                        max-height: 1.45em;
                    }
                    & > a {
                        color: #0A0D63;
                        font-size: 1.2em;
                        text-decoration: none;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    width: 100%;
    min-height: 100vh;
    &-back {
        background: url(./img/banner3.png) no-repeat;
        min-height: 100vh;
        position: relative;
        background-size: cover;
        &-dark {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.416);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-block {
        width: 80%;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px 0px #00000033;
       
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        &-img {
            background:url(./img/pr.jpg) no-repeat;
            background-size: cover;
            background-position: center;
        }
        &-text {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 30px 15px;
            &.header-text {
                padding: 150px 50px;
            }
            
            .slogan {
                text-align: left;
                font-size: 20px;
                &-word {
                    font-size: 22px;
                    font-weight: 900;
                }
            }
            h1 {
                font-size: 26px;
            }
            .button{
                margin-top: 80px;
            }
        }
    }
}

.Footer {
    color: #fff;
    .footer__wrap {
        width: 100%;
        background-color: #487592;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .footer__logo__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 40px;
            padding-bottom: 20px;
            font-size: 30px;
            font-weight: 700;
            img {
                width: 130px;
            }
        }
        .footer__in {
            width: 85%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px;
            .footer__left {
                display: flex;
                align-items: center;
                p {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .footer__right {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .footer__adrees {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h3 {
                        color: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .footer__adrees__in {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p {
                            color: #FFF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                }
                .footer__contact {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h3{
                        color: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .footer__contact__in {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        a {
                            text-decoration: none;
                            color: #FFF;
                            font-size: 16px;
                            font-style: normal;
                            white-space: nowrap;
                            font-weight: 400;
                            line-height: normal;
                        }
                        .footer__contact__images {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 20px;
                            img {
                                max-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.FrontPage {

}

.Content {
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
    gap: 100px;
    margin-top: 50px;
    .block {
        width: 80%;
        margin: auto;
        .title {
            &-text {
                padding: 10px 40px;
                font-size: 24px;
            }
        }
        .content {
    
            .cin {
                display: grid;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                text-transform: uppercase;
                grid-template-columns: 1fr 1fr 1fr;
                .card {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 20px;
                    .circle {
                        width: 100px;
                        height: 100px;
                        
                    }
                }
            }
            .about-us {
                
                .block-two {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    .img {
                        img {
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                    .text {
                        box-sizing: border-box;
                        padding: 50px;
                        font-size: 18px;
                        p{
                            margin-top: 8px;
                        }
                        .button{
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }
    .triggers {
        width: 100%;
        padding: 100px 50px;
        background-color: $darkBlue;
        box-sizing: border-box;
        position: relative;
        .content {
            .cards {
                display: flex;
                justify-content: space-around;
                .card {
                    border-radius: 20px;
                    //background-color: $yellow;
                    padding: 30px;
                    position: relative;
                    .circle {
                        position: absolute;
                        top: -50%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        background-color: $yellow;
                    }
                    .text {
                        position: relative;
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $logoColor;
                        background: #fff;
                        padding: 30px;
                        border-radius: 30px;
                    }
                }
            }
            .with_btn {
                width: 100%;
                box-sizing: border-box;
                padding: 50px;
                background-color: $yellow;
                border-radius: 20px;
                .text {
                    display: flex;
                    margin: auto;
                    width: max-content;
                    align-items: center;
                    gap: 40px;
                    text-transform: uppercase;
                    span {
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}



.btn {
    width: max-content;
    border-radius: 8px;
    background: $darkBlue;
    padding: 10px 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, $darkBlue, $darkBlue, $darkBlue, $darkBlue);
    background-size: 200%;
    border-radius: 30px;
    z-index: 1;
    animation: animate 4s linear infinite;
}

.btn:hover {
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
    z-index: -1;
    background: linear-gradient(90deg, $darkBlue, $darkBlue, $darkBlue, #fff);
    background-size: 200%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
    opacity: 1;
    animation: animate 6s linear infinite;
    filter: blur(20px);
}

.btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 4s linear infinite;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}
.Portal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $greenOpa;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.Modal {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-title {
        text-align: center;
    }
    &-content {
        max-height: 400px;
        overflow-y: auto;
        border-bottom: solid 1px $liteBlue;
        padding-bottom: 10px;
    }
    &-back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000033;
    }
    &-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-close {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
        }
    }
}
.Grid {
    grid-template-columns: 1fr;
    gap: 12px;
    display: grid;
}
.title-text.center{
    text-align: center;
    margin: auto;
}
.btn .b4 {
    position: absolute;
    top: -16px;
    left: 10px;
    width: 30px;

}

@media screen and (max-width: 700px) {
    .Header-block {
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 30px;
    }
    .Header-block-img {
        width: 100%;
        height: 100%;
    }
    .Content .block .title-text {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .Content .block .content .cin {
        flex-direction: column;
        gap: 10px;
    }
    .Content .block .content .about-us .block-two {
        display: flex;
        flex-direction: column;
    }
    .Content {
        gap: 0px;
    }
    .Content .triggers {
        padding: 30px;
    }
    .Way .ways {
        display: flex;
        flex-direction: column;
    }
    .Modal {
        width: 80%;
    }
    .Shlyah .cards-line {
        display: flex;
        flex-direction: column;
        &:nth-child(even){
            max-height: 80px;
           display: flex;
        }
        &:nth-child(3){
            flex-direction: column-reverse;
        }
        
    }
    .Shlyah .cards{
        display: grid;
        grid-template-rows: 1fr max-content 1fr;
        gap: 25px;
    }
    .card-img, .rotate90-wrap{
        display: none !important;
    }
    .Gallery .wrap {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        height: 100%;
    }
    .Gallery .wrap .img {
        height: 250px;
    }
    .Content .triggers .content .cards {
        flex-direction: column;
    }
  }